body {
    font-family: 'Share Tech Mono', monospace;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

#menuBar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#menuBar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#content {
    margin: 25vh auto; /* Adjusted margin to accommodate the menu bar */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px; /* Limit the width of the content box */
    text-align: center;
}

#godsTable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

#godsTable th {
    background-color: white;
}

#godsTable th, #drugsTable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#generateButton {
    padding: 10px 20px;
    background-color: #f45bfb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    text-align: center;
    font-size: 75px;
    color: white;
    font-weight: lighter;
}